svg {
    background:none;
    width:100%;
    text-align:center;
    margin-bottom:4rem;
}
text {
    fill:#FFF;
    line-height:0.8em;
}
input[type="color"] {
    background:#000;
    color:#FFF;
    border:0;
    padding:0;
    margin:0;
    width:16px;
    height:16px;
    outline: none;
    -webkit-appearance: none;
    vertical-align: middle;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border:1px solid rgba(255,255,255,0.2);
    border-radius: 4px;
}
input[type="color"]::-moz-color-swatch {
    border:1px solid rgba(255,255,255,0.1);
    border-radius: 4px;
}
.graph {
}
.legend {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding:0 20px;
}
.legendItem {
    font-size:0.8rem;
    display:flex;
    align-items: center;
    margin-right:1rem;
    margin-bottom:0.5rem;
}
.legendItem:last-of-type {
    margin-right:0;
}
.legendItem label {
    margin-right:4px;
}
@media screen and (max-width: 1020px) {
    .legend {
        justify-content: center;
    }
}