.dateRangeContainer {
    display:inline-block;
}

@media screen and (max-width: 760px) {
    .controls {
        display:block;
        text-align:center;
    }
    .dateRangeContainer {
        display:block;
    }
}