.loading {
    text-align: center;
    font-size:2em;
    margin-top:200px;
}
.error {
    text-align: center;
    font-size:2em;
    line-height:2em;
    margin-top:200px;
}
svg {
    background:none;
    width:100%;
    text-align:center;
}

text {
    fill:#FFF;
    line-height:0.8em;
}
@media screen and (max-width: 760px) {
    .loading {
        font-size:1.5em;
    }
    .error {
        font-size:1.5em;
    }
}