button {
    box-sizing: border-box;
    width:140px;
    height:32px;
    font-size:0.8em;
    background:#000;
    color:#FFF;
    border: 1px solid #FFF;
    border-radius:4px;
    text-align: center;
    cursor: pointer;
    margin-right:20px;
}

button:last-of-type {
    margin-right:60px;
}

.on {
    background:#FFF;
    color:#000;
    border: 0;
}

@media screen and (max-width: 1230px) {
    button:last-of-type {
        margin-right:45px;
    }
}

@media screen and (max-width: 1020px) {
    .rangeLabel {
        display:none;
    }
    button {
        margin-right:10px;
        width:120px;
    }
    button:last-of-type {
        margin-right:15px;
    }
}

@media screen and (max-width: 760px) {
    button {
        margin-right:20px;
        width:140px;
    }
    button:last-of-type {
        margin-right:0;
    }
}