.title h1 {
    font-size:1.5em;
    overflow: hidden;
}
.title h1 span {
    font-weight:bold;
}

@media screen and (max-width: 1020px) {
    .title {
        display:block;
        text-align: center;
        margin: 0 0 1em 0;
    }
}