.loading {
    text-align: center;
    font-size:3em;
    padding:25vh 0;
}

.svgContainer {
    width:100%;
    height:50vh;
    text-align:center;
}
svg {
    background:none;
}

text {
    fill:#FFF;
    line-height:0.8em;
}